<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Project Letter</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--<p>HTML</p>-->
    <!--<embed
    src="mixdown.wav" autostart="true" loop="true">
  </embed>-->

    <div class="site-wrapper">

      <div class="site-wrapper-inner">
        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner"></div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Project Letter</h1>
            <div>
            <img src="{{ url_for('static', filename="question.png") }}" id="letter">
          </div>
            <br/>
            <div>
            <input type="text" id="word">
            <button id="Check" onClick="check()">Check</button>
            <button id="New Game" onClick="newGame()">New Game</button>
            </div>
            <p class="lead">
            </br>
              <a href="https://projectlettersite.wordpress.com/" target="_blank" class="btn btn-primary btn-lg btn-default">Learn more</a>
            <br/>
              <input id="multiplayer" type=checkbox> <label for="multiplayer">Multiplayer</label>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p><a href="http://getbootstrap.com"></a></p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <div class="text-center">Score: <span id="score">0</span> Time: <span id="time"></span></div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script>
    var game=-1;
    var level;
    $( document ).ready(function(){
        $('#word').keypress(function(e){
          if(e.keyCode==13)
          $('#Check').click();
        });
      newGame();
    });

    function newGame() {
      $.ajax ({
        url:  $("#multiplayer").is(":checked") ? "/multigame/new" : "/game/new",
        success: function ( result ) {
          $("#score").text(result.score);
          game=parseInt(result.id);
          nextLevel();
          $("#word").focus();

        }
      });
    }
function countdown(){
  var seconds =  $('#time').text()-1;
   $('#time').text(seconds );
   if(seconds > 0) {
     setTimeout(countdown, 1000 );
   }
}

    function nextLevel() {
      $.ajax ({
        url: $("#multiplayer").is(":checked") ? "/multigame/level/new" : "/game/"+game+"/level/new",
        success: function ( result ) {
          $("#letter").attr('src', '/static/'+result.letter+'.png');
          $("#time").text(result.seconds_to_solve);
          setTimeout(countdown, 1000);
          console.log(result);
          letter= result.letter;
        }
      });
    }

   function check() {
     $.ajax ({
       url: $("#multiplayer").is(":checked") ? "/multigame/level/"+letter+"/"+$("#word").val() : "/game/"+game+"/level/"+letter+"/"+$("#word").val(),
       success: function ( result ) {
         console.log(result);
         $("#score").text(result.score);
         $("#word").val("");
         $("#word").focus();
         if (result['Winner!!!']) {
           alert("You won! Your score was " + result.score);
           newGame();
         } else if (!result['Right!']) {
           alert("Game Over, You Lose. Your score was " + result.score);
           newGame();
         } else {
           nextLevel();
         }
       }
     })

   }
    </script>

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <embed src="{{ url_for('static', filename="mixdown.wav") }}" autostart="true" loop="false">
    </audio>
    <!--<embed src="{{ url_for('static', filename="Buzzer.mp3")}}"></audio>
    <embed src="{{ url_for('static', filename="Ding.mp3")}}"></audio>-->

  </body>
</html>
